/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';

/* END: Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;

     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{
   overflow: scroll;
   min-height: 100%;
   position: relative;
   width: 100%;
   background: url(../img/tempbg.png) 50% 0% #160909 no-repeat;
 }

 body{  }

 a{  }

 p{
   font-size: 18px;
   font-family: 'Quattrocento', serif;
   letter-spacing: 1px;
   text-shadow:0px 3px 3px rgba(0,0,0,1);
   color: white;
 }

 ul{ list-style:none; }
 .disc{
  list-style: disc;
  padding-left: 20px;
 }

 hr{  }

 h1, h2, h3, h4, h5, h6{
  font-family: $alagard !important;
  text-shadow:0px 5px 0px rgba(0,0,0,.75);
 }

 h1{
   font-size: 50px !important;
 }

 table tr{  }

 ::selection{
  background:  #001D2D;
  color:       $lblue;
}

li {
  content: "•";
  color: #9bdbf9;
}

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }
 /* Five Columns Setup */
 .col-xs-15,
 .col-sm-15,
 .col-md-15,
 .col-lg-15 {
     position: relative;
     min-height: 1px;
     padding-right: 10px;
     padding-left: 10px;
 }
 .col-xs-15{
   width: 20%;
   float: left;
 }

 .text-bold{ font-weight: bold; }
 .img-fw{ width: 100%; }

 /* END: Utility Classes */


 /**
  * =========================================
  * Navigation
  * =========================================
  */


/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */

.ninebox{
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 35px auto 35px;
  grid-template-rows: 35px auto 35px;

  // Top Row
  .tl{ background: url(../img/9box-02/9b-topleft-01.png); }
  .tt{ background: url(../img/9box-02/top-tile-01.png) repeat-x; }
  .tr{ background: url(../img/9box-02/9b-topright-01.png); }

  // Middle Row
  .lt{ background: url(../img/9box-02/left-tile-01.png) repeat-y; }
  .mt{
    padding: 20px;
     background: url(../img/9box-02/mid-tile-01.png);
   }
  .rt{ background: url(../img/9box-02/right-tile-01.png) repeat-y; }

  // Bottom Row
  .bl{ background: url(../img/9box-02/9b-bottomleft-01.png); }
  .bt{ background: url(../img/9box-02/bottom-tile-01.png) repeat-x; }
  .br{ background: url(../img/9box-02/9b-bottomright-01.png); }
}

.card,
.accordion  {  @include full; }
.header-logo{
  height: 350px;
  max-width: 100%;
  margin: 0 auto;
}

// Bootstrap overrides
.card{
  max-width: 100%;
  border: 3px solid rgba(0,0,0,.2) !important;
  margin-bottom: 5px;
  border-radius: 0px !important;
  background: rgba(0,0,0,.25) !important;
  box-shadow: inset 0px 3px 0px rgba(255,255,255,.05);
}
.card-header{ padding: 0 !important; }
.card-body{ background: rgba(0,0,0,.5); }
.btn{
  padding: 15px 15px 10px 15px !important;
  white-space: none;
}

.btn-link{
  height: 100%;
  width: 100%;
  text-align: left !important;

  &:hover, &:focus{
    text-decoration: none !important;
  }
}

.publisher-needs{
  float: left; 
  max-width: 100%;
  width: 100%;
  background: rgba(0,0,0,.25) !important;

  td{
    width: 33%;
    padding: 10px;
    border: 1px solid black;
  }
}

@keyframes even{
  0%   {  top: 0px; }
  25%   {  top: -5px; }
  75%   {  top: 5px; }
  100%   {  top: 0px; }
}

@keyframes odd{
  0%   {  top: 0px; }
  25%   {  top: 5px; }
  75%   {  top: -5px; }
  100%   {  top: 0px; }
}

.animate-text-even{
    position: relative;
    animation-name: even;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.animate-text-odd{
    position: relative;
    animation-name: odd;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* END: Elements */


/**
 * =========================================
 * Footer
 * =========================================
 */

.footer{
  padding-top: 35px;
  height: 150px;
  background: url(../img/footer-bg.png) repeat-x;
}

.footer-logo{
  height: 75px;
  max-width: 100%;
  margin: 0 auto;
}


/* END: Footer */
